html, body {
    max-width: 100%;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding-left: 0;
}

.intro-text {
    text-align: center;
}

#header {
    background-color: #1E201E;
}

#skills {
    background-color: #1E201E;
}